<h1>DASHBOARD OWNER</h1>
<%= link_to "Mes Réservations", beasts_path, class:"btn btn-primary" %>
<%= link_to "Mes Créatures", beasts_path, class:"btn btn-primary" %>
<%= link_to "Mon profil", beasts_path, class:"btn btn-primary"%>
