<div class="mb-3">
  <div class="mb-3">
    <%= link_to dashboard_path, class: "text-decoration-none" do%>
      <i class="fa-solid fa-arrow-left"></i> retour
    <%end%>
  </div>
  <h1 class="fs-4">
    <%= title%>
  </h1>
</div>
