<%# Timeline %>
<div class="d-flex">
  <div class="timeline-<%= status == 'payed' || status == 'validated' ? 'green' : 'orange' %>">
    <div class="container-timeline-green">
    </div>
  </div>
  <div class="timeline-<%= status == 'payed' ? 'green' : 'orange'%>">
    <div class="container-timeline-<%= status == 'payed' || status == 'validated' ? 'green' : 'orange'%>">
    </div>
  </div>
  <div class="timeline-green-last">
    <div class="container-timeline-<%= status == 'payed' ? 'green' : 'orange'%>">
    </div>
  </div>
</div>
